body{
  background-color: dimgray;
  font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.container {
  background-color: lightsteelblue;
  
}

.container p{
  font-size: small;
  text-align: center;
}
